* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for Header */
h1 {
  padding: 20px 35px;
  display: inline;
  position: relative;
  font-family: "Chivo", sans-serif;
}

header,
nav,
ul,
li,
a {
  margin: 0 30px;
  display: inline;
  float: right;
  font-family: "Chivo", sans-serif;
  font-size: 45px;
  text-align: center;
}

footer {
  margin: auto 0;
  padding-top: 100px;
  display: inline-flexbox;
  font-family: "Chivo", sans-serif;
  text-align: center;
}
